@{
    ViewBag.Title = "Kelimelik | Laf Deposu";
}
<div class="row">
    <div class="col-md-12">
        <h2>Kelimelik</h2>
        <p>Laf Deposu sitesini <strong>Kelimelik</strong>, <strong>Scrabble</strong>, <strong>Wordabula</strong>, <strong>Kelimatör</strong>, <strong>Kelime Avı</strong> gibi programlarda yardımcı amaçlı kullanabilirsiniz.</p>
        <h3>Kelimelik'te Hile Yapmak</h3>
        <p>Hile yapmak için elinizdeki harfleri <a href="/">ana sayfa</a>da yer alan metin alanına yazıp <strong>Ara</strong> butonuna basmanız yeterli. Joker harf kullanımı için <code>*</code> (Yıldız karakteri) karakterini kullanabilirsiniz.</p>
    </div>
</div>