@{
    ViewBag.Title = "İletişim | Laf Deposu";
}

<div class="row">
    <div class="col-md-12">
        <h2>İletişim</h2>
        <p>Program ile ilgili her türlü görüş, öneri ve isteğinizi internet sitesinin sağ kısmında yer alan mavi simge (Fikrini belirt) üzerinden yapabilirsiniz.</p>
        <p>Görüşlerinizi en kısa zamanda gerçekleştirmeye çalışacağız.</p>
    </div>
</div>

